<a href="https://colab.research.google.com/github/Avipsa-Bhujabal/AI_ML_DS_SummerTrainig_2023/blob/main/Summer_Internship_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
pd.__version__

'1.5.3'

In [3]:
popu = {
    'kumar':20,
    'rahul':30,
    'sumit':40
}
popu
popul = pd.Series(popu)
print(popul)

kumar    20
rahul    30
sumit    40
dtype: int64

In [8]:
popul['kumar']
popul[1]
popul['kumar':'rahul']

kumar    20
rahul    30
dtype: int64

In [15]:
print(pd.Series([1,4]))
print(pd.Series([1,4,6]))
print(pd.Series([1,4,6],index=[100,200,300]))
print(pd.Series({2:'a',1:'b'}))
print(pd.Series({2:'a',1:'b'}, index=[1,2]))

0    1
1    4
dtype: int64
0    1
1    4
2    6
dtype: int64
100    1
200    4
300    6
dtype: int64
2    a
1    b
dtype: object

In [17]:
df=pd.DataFrame(popul)
print(df)
df=pd.DataFrame(popul,columns=['abc'])
print(df)
df.abc

        0
kumar  20
rahul  30
sumit  40
       abc
kumar   20
rahul   30
sumit   40

kumar    20
rahul    30
sumit    40
Name: abc, dtype: int64

In [24]:
#list to DF
data=[{'a':i,'b':2*i} for i in range(5)]
print(data)
#df=pd.DataFrame(data)
df=pd.DataFrame(data, index=['x','y','z','a','b'])
print(df)
df.columns=['Abc','Bxc']
print(df)
print(df.shape)
print(df.size)
print(df.ndim)

[{'a': 0, 'b': 0}, {'a': 1, 'b': 2}, {'a': 2, 'b': 4}, {'a': 3, 'b': 6}, {'a': 4, 'b': 8}]
   a  b
x  0  0
y  1  2
z  2  4
a  3  6
b  4  8
   Abc  Bxc
x    0    0
y    1    2
z    2    4
a    3    6
b    4    8
(5, 2)
10
2